.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navbar .nav-link {
  font-size: 1.25rem; /* Define o tamanho de fonte desejado para telas grandes */
}

@media (max-width: 475px) {
  .nav-link {
    font-size: 0.75rem; /* Fonte menor para dispositivos pequenos */
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

  .ms-auto .text-uppercase{
    font-size: 0.89rem;
  } 

  @media (max-width: 475px) {
    .navbar-collapse {
      text-align: left;
    }
    .navbar .nav-link {
      font-size: 0.80rem;
      text-align: left;
      padding-left: 0.5rem; 
      padding-right: 0;
      width: 100%; 
    }
  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
